# Rename this file to .env and fill in your actual values.

# General Settings
COMPOSE_PROJECT_NAME=
PUID=
PGID=
TZ=

# User Settings
USERDIR=

# RPC Settings
RPC2_USERNAME=
RPC2_PASSWORD=

# Domain Settings
DOMAINNAME=

# Cloudflare Settings
CLOUDFLARE_EMAIL=
CLOUDFLARE_API_KEY=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONEID=

# Compose Settings
COMPOSE_HTTP_TIMEOUT=

# Google Settings
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# OAuth Settings
OAUTH_SECRET=

# Email Whitelist
EMAIL_WHITELIST=

# URL Path
URL_PATH=

# Sonarr Settings
SONARR_API_KEY=

# Radarr Settings
RADARR_API_KEY=

# DuckDNS Settings
DUCKDNS_TOKEN=
DUCKDNS_SUBDOMAINS=

# Plex Settings
PLEX_CLAIM=
SERVER_IP=
PLEX_PORT=

# Telegram Settings
TGRAM_BOT_TOKEN=
TGRAM_CHAT_ID=

# Jackett Settings
JACKETT_API_KEY=
JACKETTNYAABR_API_KEY=

# Pi-hole Settings
PIHOLE_PASSWORD=

# Haka Settings
HAKA_DB_NAME=
HAKA_DB_PASS=
HAKA_DB_USER=
HAKA_GIT_TOKEN=
HAKA_API_KEY_HASH=

# Code Server Settings
CODE_SERVER_PASSWORD=

# Miniflux Settings
MINIFLUX_DB_USER=
MINIFLUX_DB_PASSWORD=

# ARL Token
ARL_TOKEN=

# Ghost Settings
GHOST_DB=
GHOST_DB_USER=
GHOST_DB_PASSWORD=
GHOST_DB_ROOT_PASSWD=

# Commento Settings
COMMENTO_DB_USER=
COMMENTO_DB_PASSWORD=
COMMENTO_SMTP_HOST=
COMMENTO_SMTP_PORT=
COMMENTO_SMTP_USERNAME=
COMMENTO_SMTP_FROM_ADDRESS=
COMMENTO_SMTP_PASSWORD=

# WireGuard Settings
WIREGUARD_PEERS=
WIREGUARD_SERVER_PORT=
WIREGUARD_SERVER_URL=

# VPN Settings
VPN_USER=
VPN_PASS=
VPN_PROVIDER=
VPN_CLIENT=
VPN_ENABLED=

# RCON Settings
RCON_PASSWORD=

# Frigate Settings
FRIGATE_PASS=

# Matrix Settings
MATRIX_HOSTNAME=

# Postgres Settings
POSTGRES_USER=
POSTGRES_PASSWORD=

# WPP Postgres Settings
WPP_POSTGRES_USER=
WPP_POSTGRES_PASSWORD=
WPP_POSTGRES_PORT=

# Header Bypass
HEADER_BYPASS=

# Discord Settings
DISCORD__TOKEN=

# Overseer API
OVERSEER_API=

# Servicos / integracoes
BAZARR_API_KEY=
CROWDSEC_BOUNCER_KEY=
NZB360_HEADER=
PLEX_HOSTNAME=
PLEX_REWIND_NEXTAUTH_SECRET=
